@import './components/HomePage';
@import './components/TestSano';
@import './components/NavBar';
@import './components/TestMiedo';
@import './components/TestAnimal';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}